Navbar{
  z-index: 9999;
}


.section-sobremi{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./Images/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
