@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap');
.contenedor-sobre-mi{
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.contenedor-presentacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.imagen-de-referencia{
  width: 200px;
  aspect-ratio: 1000 / 667;
  clip-path: circle(50% at center)
}
.carta-presentacion{
  background-color: #1b1b1b;
  width: 40% ;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.carta-presentacion1{
  height: 85%;
  width: 100%;
  opacity: 0;
  position: absolute;
  transition: background-color 0.3s ease-out;
}
.carta-presentacion1:hover{
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  display: flex;
  opacity: 1;
}
.iconos-div{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.carta-texto{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  width: 50%;
}

.texto-descripcion{
  width: 74%;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 3px;
  animation: breather 3s ease infinite;
}
@keyframes breather{
  100%{
    box-shadow: 0px 0px 14px 4px rgba(145,145,145,0.75);
    -webkit-box-shadow: 0px 0px 14px 4px rgba(145,145,145,0.75);
    -moz-box-shadow: 0px 0px 14px 4px rgba(145,145,145,0.75);
    backdrop-filter: blur(10px);
  }
  50%
  {
    box-shadow: 0px 0px 14px 4px rgba(145,145,145,0);
    -webkit-box-shadow: 0px 0px 14px 4px rgba(145,145,145,0);
    -moz-box-shadow: 0px 0px 14px 4px rgba(145,145,145,0);
    backdrop-filter: blur(0px);
  }
  0%{
    box-shadow: 0px 0px 14px 4px rgba(145,145,145,0.75);
    -webkit-box-shadow: 0px 0px 14px 4px rgba(145,145,145,0.75);
    -moz-box-shadow: 0px 0px 14px 4px rgba(145,145,145,0.75);
    backdrop-filter: blur(10px);  
  }
}
@media screen and (max-width:1050px){
  .contenedor-sobre-mi {
    flex-direction: column;
  }
  .contenedor-presentacion,
  .carta-texto {
    width: 100%;
    height: 60%;
  }

  .imagen-de-referencia {
    width: 150px;
  }

  .carta-presentacion {
    margin-top: 70px;
    width: 40%;
    height: 400px;
  }

  .iconos-div {
    gap: 10px;
  }

  .texto-descripcion {
    width: 70%;
    font-size: 1.1rem;
    margin-top: 20px;
  }
}