@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
.contenedor-sobre-mi{
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.contenedor-presentacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.imagen-de-referencia{
  width: 200px;
  aspect-ratio: 1000 / 667;
  clip-path: circle(50% at center)
}
.carta-presentacion{
  background-color: #1b1b1b;
  width: 480px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.iconos-div{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.carta-texto{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  width: 50%;
}
.texto-descripcion{
  width: 74%;
  font-size: 1.6rem;
}
strong{
  color: #fa6630;
}

@media screen and (max-width:1050px){
  .contenedor-sobre-mi {
    flex-direction: column;
  }

  .contenedor-presentacion,
  .carta-texto {
    width: 100%;
  }

  .imagen-de-referencia {
    width: 150px;
  }

  .carta-presentacion {
    margin-top: 70px;
    width: 50%;
    height: 550px;
  }

  .iconos-div {
    gap: 10px;
  }

  .texto-descripcion {
    width: 70%;
    font-size: 1.4rem;
    margin-top: 20px;
  }
}